.col-xs-8.col-xs-offset-2
  %h2 Builder

  %p
    Currently, Benchmarks are being run on a Softlayer Bare Metal Server with the
    following configurations:

    %table.table.table-striped
      %thead
        %tr
          %th System Type
          %th Component

      %tbody
        %tr
          %td Operating System
          %td Ubuntu14.04-64 Minimal for Bare Metal

        %tr
          %td RAM
          %td 4x4GB Kingston 4GB DDR3 1Rx8

        %tr
          %td Processor
          %td 3GHz Intel Xeon-IvyBridge (E5-2690-V2-DecaCore)

        %tr
          %td Motherboard
          %td SuperMicro X9DRI-LN4F+_R1.2A

        %tr
          %td Drive Controller
          %td Mainboard Onboard

        %tr
          %td Power Supply
          %td SuperMicro PWS-605P-1H

        %tr
          %td Security Device
          %td SuperMicro AOM-TPM-9655V

        %tr
          %td Remote Management Card
          %td SuperMicro Winbond WPCM450 - Onboard

        %tr
          %td Backplane
          %td SuperMicro BPN-SAS-815TQ
