.col-xs-8.col-xs-offset-2
  %h1= t('.title')

  %hr

  %h3 Where to start contributing?

  %p
    The RubyBench project consist of the following components:

    %ul
      %li
        = link_to 'ruby-bench-web: Web Application to Display and Store Results',
            'https://github.com/ruby-bench/ruby-bench-web', target: '_blank'

      %li
        = link_to 'ruby-bench-docker: Docker Scripts to Run Benchmarks',
            'https://github.com/ruby-bench/ruby-bench-docker'

  %hr

  %h3 Feature requests/discussion

  %p
    All discussion of features and directions for RubyBench will be done at
    = link_to AppSettings.forum_url, AppSettings.forum_url
