.container.hardware
  .row
    .col-md-10.col-md-offset-1
      %h1= t('top-nav.hardware')

      %hr

      %blockquote
        - rubytune = Sponsors.find(:rubytune)
        %p
          Our current bare metal server is sponsored by the team over at
          = succeed '.' do
            = link_to rubytune.name, rubytune.link, target: '_blank'

          .sponsor-logo.hardware-sponsor{ class: rubytune.class_name }
            %span.l-text-hidden rubytune.name

      %p
        All benchmarks are ran on a bare metal server in order to achieve
        consistent and repeatable results. We
        %strong will not
        publish CPU results gathered on virtual hosts where we can not control
        our CPU allocation. The only results published are ran on
        production level bare metal servers.

      %p
        The bare metal server was purchased from
        = link_to 'Hetzner Online',
          'http://www.hetzner.de/en/hosting/produkte_rootserver/px60ssd',
          target: '_blank'
        and has the following configuration:

      .row
        .col-md-8.col-md-offset-2
          %table.table.table-striped
            %thead
              %tr
                %th System Type
                %th Component

            %tbody
              %tr
                %td Operating System
                %td Ubuntu-1404-trusty-64-minimal

              %tr
                %td RAM
                %td
                  4 x 8GB Micron ECC
                  %br
                  Part Number: 18KSF1G72AZ-1G6E1

              %tr
                %td Processor
                %td 3.6GHz Intel® Xeon® E3-1270 v3 Quad-Core Haswell incl. Hyper-Threading Technology

              %tr
                %td Hard Drive
                %td Samsung SSD 845DC EVO - 240 GB - 2,5" SATA III

              %tr
                %td Motherboard
                %td Intel Coporation S1200RP
