.landing
  .row.banner
    .col-md-12
      = image_tag('icon.png', alt: 'RubyBench Logo', class: 'landing-logo')
      %h1.heading RubyBench
      %p.blurb Long running Ruby Benchmark
      %button.btn.btn-lg.btn-primary.btn-cta View Ruby's Performance
  .row
    .col-md-12

