#chart-modal.modal{ tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: true } }
            &times;

        %h4.modal-title

      .modal-body
        %table
          %tbody

      = render 'layouts/spinner'
