- if !charts || !benchmark
  = image_tag 'icon.png', alt: 'RubyBench Logo', class: 'benchmark-placeholder'

- elsif charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.no_results', category: benchmark.category)

- else
  - tick_interval = (@display_count / 4) - 1

  - charts.each do |chart|
    %h2.l-align-center
      = t('repos.commits.graph_title', graph_name: benchmark.category.humanize,
          type: chart.benchmark_result_type.name)

    .chart{ data: { tick_interval: tick_interval,
      unit: chart.benchmark_result_type.unit,
      columns: chart.columns.to_json,
      categories: chart.categories.map { |version| chart_version_to_html(version) },
      organization: @organization.name,
      repo: @repo.name } }

  = render 'script', benchmark: benchmark

:javascript
  $(function() {
    drawChart('.chart');
  });
