= link_to '#', class: 'btn btn-default hide benchmark-types-form-show-btn', id: 'benchmark-types-form-show' do
  %span= t('repos.show_benchmark_types_form')
  %span.glyphicon.glyphicon-triangle-right{ aria: 'hidden' }
