- if !charts || !benchmark_type
  = image_tag 'icon.png', alt: 'RubyBench Logo', class: 'benchmark-placeholder'

- elsif charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.no_results', category: benchmark_type.category)

- else
  - benchmark_name = benchmark_type.category.humanize
  - tick_interval = (@benchmark_run_display_count / 4) - 1

  - charts.each do |chart|
    %h2.l-align-center
      = t('repos.show.graph_title', graph_name: benchmark_name,
          type: chart.benchmark_result_type.name)

    .chart{ data: { tick_interval: tick_interval,
      unit: chart.benchmark_result_type.unit,
      columns: chart.data[:columns],
      categories: chart.data[:categories].map { |version| hash_to_html(version) },
      organization: @organization.name,
      repo: @repo.name } }

  = render 'script', benchmark_type: benchmark_type, benchmark_name: benchmark_name

:javascript
  $(function() {
    drawChart('.chart');
  });
