.container
  = render 'title', title: t('.title', repo_name: @repo.title)

  %hr

  #benchmark-types-form-container
    .text-center
      = render 'form',
          form_path: releases_path(organization_name: @repo.organization.name, repo_name: @repo.name),
          name: 'releases'

  #charts-container
    = render 'layouts/spinner'

    #chart-container.chart-container
      = render 'releases_chart', charts: @charts, benchmark: @benchmark
