= render 'title', title: t('.title', repo_name: @repo.name.capitalize)

= render 'form',
    form_path: repo_path(organization_name: @repo.organization.name, repo_name: @repo.name), name: ''

.col-xs-8
  = render 'loading'

  #chart-container
    = render 'show_chart', chart_columns: @chart_columns
