= render 'title', title: t('.title', repo_name: @repo.name.capitalize)

%hr

= render 'form',
    form_path: repo_path(organization_name: @repo.organization.name, repo_name: @repo.name), name: 'commits'

.col-xs-8
  = render 'layouts/spinner'

  #chart-container
    = render 'show_chart', chart_columns: @chart_columns, benchmark_type: @benchmark_type
