%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => '/admin'} RubyBench Admin

  %ul.nav.navbar-top-links.navbar-right.pull-right
    %li.dropdown
      %a{:href => '/'}
        %i.fa.fa-sign-out

  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav.in
        %li
          %a{:href => "/"}
            %i.fa.fa-dashboard.fa-fw
            Dashboard
        - @repos.each do |repo|
          %li
            = link_to repo.name, admin_repo_path(repo.name)
