.footer {
  background-color: #141c22;
  color: #fff;
  padding-top: 2em;
}

.footer-hr {
  border-color: #fff;
}

.footer-sponsor-list {
  a {
    color: white;
    text-decoration: none;
  }

  margin-right: 1.5em;
  vertical-align: text-top;
}
