.footer {
  $footer-gray: #6c767e;

  background-color: #141c22;
  color: #fff;
  margin-top: 30px;
  padding: 2em 0;
  .footer-hr {
    border-color: $footer-gray;
  }
  .footer-nav-links {
    text-align: center;
    li {
      display: inline-block;
      font-weight: $bold;
      list-style: none;
      a {
        color: #fff;
        padding: 0 10px;
        &:hover {
          color: $footer-gray;
          text-decoration: none;
        }
      }
      &:not(:last-child):after {
        content: '\00b7';
      }
    }
  }  
}
