.header {
  background-color: #C52F24;
  padding: 2em 0 2em 1em;
}

.header-title {
  margin: 0em;
  font-family: Roboto;
  font-weight: 900;
  font-size: 40px;

  a {
    color: white;
    text-decoration: none;
  }
}

.header-title-rails {
  margin-left: 0.4em;
}

.header-title-bench {
  opacity: 0.6;
}
