.list-checkbox {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
  background-color: $gray-lighter;
}

.list-checkbox {
  input[type=checkbox] + label {
    color: $brand-primary;
  }
}

.list-checkbox:hover {
  input[type=checkbox] + label {
    color: $brand-warning;
  }
}

.list-checkbox {
  input[type=checkbox]:checked + label {
    color: $brand-success;
  }
}
