.list-radio {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
  background-color: $gray-lighter;
}

.list-radio {
  input[type=radio] + label {
    color: $brand-primary;
  }
}

.list-radio:hover {
  input[type=radio] + label {
    color: $brand-warning;
  }
}

.list-radio {
  input[type=radio]:checked + label {
    color: $brand-success;
  }
}
