.list-label {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
  background-color: $gray-lighter;
}

.list-label {
  color: $brand-primary;
}

.list-label:hover {
  color: $brand-warning;
}

.list-label {
  input[type=radio]:checked + span {
    color: $brand-success;
  }
}
