@mixin background-image($background-image) {
  background-image: image-url($background-image);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sponsor-row {
  margin: 40px 0;
  h3 {
    margin-top: 0;
  }
}

.sponsor-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
  transition: all 0.5s;
  width: 90%;
}

.footer .sponsor-logo {
  $half-brightness: 0.5;
  filter: brightness($half-brightness);
  &:hover {
    $full-brightness: 1;
    filter: brightness($full-brightness);
  }
}

$sponsor-list: discourse jolly-good-code rubytune ruby-together bugsnag;

@each $sponsor in $sponsor-list {
  .sponsor-#{$sponsor} {
    @include background-image('sponsors/#{$sponsor}.png');
  }
  .footer .sponsor-#{$sponsor} {
    @include background-image('sponsors/#{$sponsor}-bw.png');
  }
}
