.sponsors {
  .sponsor-row {
    margin: 40px 0;
    h3 {
      margin-top: 0;
    }
  }
  .sponsor-name {
    color: #000;
    font-weight: $bold;
  }
  .sponsor-desc {
    color: $gray;
    font-size: 18px;
  }
}

.sponsor-logo {
  @include image-as-background();
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 90%;
}

.footer .sponsor-logo {
  $half-brightness: 0.5;
  filter: brightness($half-brightness);
  transition: all 0.5s;
  &:hover {
    $full-brightness: 1;
    filter: brightness($full-brightness);
  }
}

$sponsor-list: discourse jolly-good-code rubytune ruby-together bugsnag;

@each $sponsor in $sponsor-list {
  .sponsor-#{$sponsor} {
    background-image: image-url('sponsors/#{$sponsor}.png');
  }
  .footer .sponsor-#{$sponsor} {
    background-image: image-url('sponsors/#{$sponsor}-bw.png');
  }
}
