.top-nav {
  background-color: #660000;
  padding: 0.5em 0;
  font-family: Roboto;
  box-shadow: 0 8px 6px -6px #141c22;

  a {
    color: white;
  }
}

.top-nav-title {
  margin: 0em;
  font-weight: 700;
  font-size: 35px;

  a {
    text-decoration: none;
  }
}

.top-nav-list {
  float: right;
  margin-bottom: 0;
  padding: 0.5em 0;

  li {
    display: inline;
    font-size: 20px;
    margin-right: 0.5em
  }
}
