.navbar {
  border: none;
}

.logo {
  @include inline-image('logo.png', 40px, 160px);
  background-size: 100%;
  background-repeat: no-repeat;
}

.navbar-header {
  margin: 10px 0;
}

.navbar-nav {
  .current {
    border-top: 4px solid $brand-primary;
    padding-top: 11px;
  }
}
