.benchmark-types-form-show-btn {
  margin-bottom: 20px;
}

.benchmark-placeholder {
  display: block;
  filter: grayscale(100%);
  margin: 100px auto 40px;
  opacity: 0.5;
  width: 15%;
}

.chart-container {
  min-height: 300px;
}
