%hr.footer-hr

.l-align-center
  %h5
    Built and maintained by
    = link_to '@tgxworld.', 'https://github.com/tgxworld', target: '_blank'

    Many thanks to our
    = link_to 'sponsors.', sponsors_path, target: '_blank'
