.footer-sponsors
  %h4= t('footer.sponsors')

  %hr.footer-hr

  %ul.list-unstyled
    %li
      %h4
        = t('footer.hosting_sponsored_by')

    %li
      %h4
        = t('footer.builder_sponsored_by')
