.header
  .row
    .col-xs-8.col-xs-offset-2
      %h1.header-title
        = link_to root_path do
          = image_tag('logo.png')
          %span.header-title-rails> Rails
          %span.header-title-bench Bench
