.row
  %h1.top-nav-title.l-left
    = link_to root_path do
      %span>= t('top_nav.rails')
      %span= t('top_nav.bench')

  %ul.top-nav-list.list-unstyled.l-right
    %li= link_to t('top_nav.builder'), builder_path
    %li= link_to t('top_nav.contribute'), contribute_path
