%HTML{ lang: 'en' }
  %head
    %title RubyBench Admin

    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tags

  %body
    #wrapper
      = render 'layouts/admin/navbar'

    #page-wrapper
